.App {
  min-height: 100vh;
  background-color: #dbe1e9;
  font-family: sans-serif;
  color: black;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Logout Button */
.logout-welcome{
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}
.logoutBtn{
  text-decoration: none;
  font-size: 2rem;


}

input[type="text"]{

  background-color : rgba(244, 243, 243, 0.415); 

}

input[type="password"]{
  background-color : rgba(244, 243, 243, 0.415); 
}

textarea{
  background-color : rgba(244, 243, 243, 0.415) !important; 
}


/* Form */
.form {
  background-color: white;
  width: 70%;
  min-height: 200px;
  margin: 0 auto;
  margin-bottom: 1rem;
  border-radius: 2rem;
  overflow: auto;
  position: relative;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.form_title_container{
  
}

.form_title{
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 1rem;
  margin-left: 1rem;
}

.form_title_input{
  padding: 1rem;
}

.form_description_container{
}
.form_description_title{
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 1rem;
  margin-left: 1rem;
}

.form_description_input{
  padding: 1rem;
}

.btn_insert_article{
  display: flex;
  justify-content: center;
  margin: 1rem;
}

/* ArticleList */
.ArticleList{
  background-color: white;
  width: 70%;
  min-height: 200px;
  margin: 0 auto;
  margin-bottom: 1rem;
  border-radius: 2rem;
  overflow: auto;
  position: relative;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.insertArticle{
  /* background-color: red; */
  display: flex;
  justify-content: center;
  width: 100vw;
  margin: 1rem;
}

.ArticleTitleContainer{
  height: var(--title-height);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 1rem;
}
.ArticleTitle{
  font-family: 'Open Sans', sans-serif;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

.ArticleDescriptionConatiner{
  margin: 1rem;
  position: relative;
  padding-bottom: 3rem;

}

.ArticleDescription{
  margin: 0 auto;
  max-width: 120ch;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #333;
}

.btnArticleContainer{
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.btnUpdateArticle{
  margin: 1rem;
}

.btnDeleteArticle{
  margin: 1rem;
}

/* Login  */
.heroLogin{
  height: 100vh;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.title{
  color: #0d2752;
  font-size: 3rem;
}

.line {
  margin: 1rem;
  width: 25rem;
  height: 0.050rem;
  padding: 0;
  
}

.form-input{
  width: 20rem;
}

.loginButton{
  width: 20rem;
}

.text {
  font-size: 1rem;
  color: grey;
}

.loginRegisterBtn{
  cursor: pointer;
  text-decoration: none;
}

.incorrectCredentials{
  color: red;
  font-size: small;
}