.App {
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hrclass{
  background-color: red;
}



/* Login  */
.heroLogin{
  height: 100vh;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.title{
  color: #0d2752;
  font-size: 3rem;
}

.line {
  background-color: lightgray;
  margin: 1rem;
  width: 25rem;
  height: 0.050rem;
  padding: 0;
  
}

.form-input{
  width: 20rem;
}

.loginButton{
  width: 20rem;
}

.text {
  font-size: 1rem;
  color: grey;
}

.loginRegisterBtn{
  cursor: pointer;
  text-decoration: none;
}

.incorrectCredentials{
  color: red;
  font-size: small;
}