/*--------------------- General ---------------------*/
.App {
  min-height: 100%;
  background-color: white;
  color: rgba(0, 0, 0, 0.772);  
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  line-height: 2rem;
  font-family: 'Helvetica Neue', sans-serif;
  line-height: 1.6;
  max-width: 200ch;
}


input[type="text"]{
  background-color : rgba(244, 243, 243, 0.415); 
}

input[type="password"]{
  background-color : rgba(244, 243, 243, 0.415); 
}

textarea{
  background-color : rgba(244, 243, 243, 0.415) !important; 
}

/*--------------------- HEADER ---------------------*/
.logout-welcome{
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;

}
.welcome{
  font-size: 2rem;
  margin-left: 1rem;
  margin-top: 1rem;
}
.logoutBtn{
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  margin-right: 1rem;
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.772);
}

.lineHeader{
  width: 100vw;
  height: 0.02rem;
  background-color: gray;

}


/*--------------------- Insert Btn ---------------------*/
.insert_article_btn_container{
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.insert_article_btn{
  cursor: pointer;
  color: black;
  text-decoration: none;
  width: 4rem;
  height: 4rem;
  font-size: 3rem;
  text-align: center;
  line-height: normal;
  transition: all 0.2s ease; 
}
.insert_article_btn:hover{
  width: 5rem;
  height: 5rem;
  font-size: 4rem;
}


/*--------------------- Form ---------------------*/
.form {
  text-align: center;
  text-align: left;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 3rem;
}

.form_title_container{
  margin: 2rem 0 1rem;
  
}

.form_title{
  font-size: 1.5rem;
}

.form_title_input{

}

.form_description_container{
}
.form_description_title{
  font-size: 1.5rem;
}

.form_description_input{

}

.btn_insert_article{
  display: flex;
  justify-content: center;
  margin: 1rem;
}



/*--------------------- ArticleList ---------------------*/
.line_article{
  background-color: grey;
  height: 0.03rem;
  text-align: center;
  text-align: left;
  margin-bottom: 1rem;
}

.ArticleList{
  text-align: center;
  text-align: left;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 3rem;

}


.ArticleTitleContainer{

}
.ArticleTitle{

}

.ArticleDescriptionConatiner{


}

.ArticleDescription{

}

.btnArticleContainer{
  display: flex;
  justify-content: center;
  justify-content: space-around;

}

.btnUpdateArticle{

}

.btnDeleteArticle{

}




/*--------------------- Login ---------------------*/
.heroLogin{
  height: 100vh;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.title{
  color: #0d2752;
  font-size: 3rem;
}

.line {
  margin: 1rem;
  width: 25rem;
  height: 0.050rem;
  padding: 0;
  
}

.form-input{
  width: 20rem;
}

.loginButton{
  width: 20rem;
}

.text {
  font-size: 1rem;
  color: grey;
}

.loginRegisterBtn{
  cursor: pointer;
  text-decoration: none;
}

.incorrectCredentials{
  color: red;
  font-size: small;
}